<ul id="slides">
  <li>
    <%=image_tag("slide1.jpg", alt: "Let the Moon Shine!")%>
  </li>
  <li>
    <%=image_tag("slide2.jpg", alt: "Al Capone Mug Shot")%>
  </li>
  <li>
    <%=image_tag("slide3.jpg", alt: "Owney Madden")%>
  </li>
  <li>
    <%=image_tag("slide4.jpg", alt: "Izzy Einstein & Moe Smith")%>
  </li>
  <li>
    <%=image_tag("slide5.jpg", alt: "")%>
  </li>
  <li>
    <%=image_tag("slide6.jpg", alt: "")%>
  </li>
</ul>

<br/>

<div class="discountContainer">
<div id="discount_bg">
  <h1>Discounts!</h1>
</div>
<br/>

   <%= render 'shared/product_index' %>
</div> <!-- discount container -->

<script>

  var ready;
  ready = function(){ 
    $('#slides').slippry({pager:false}); 
  };
  $(document).ready(ready);
  $(document).on('page:load', ready);

</script>
