<ul id="slides">
  <li>
    <%=image_tag("slide1.jpg", alt: "Let the Moon Shine!")%>
  </li>
  <li>
    <%=image_tag("slide2.jpg", alt: "Al Capone Mug Shot")%>
  </li>
  <li>
    <%=image_tag("slide3.jpg", alt: "Owney Madden")%>
  </li>
  <li>
    <%=image_tag("slide4.jpg", alt: "Izzy Einstein & Moe Smith")%>
  </li>
  <li>
    <%=image_tag("slide5.jpg", alt: "")%>
  </li>
  <li>
    <%=image_tag("slide6.jpg", alt: "")%>
  </li>
</ul>
<br/>

<div class="discountContainer">
<div id="discount_bg">
  <h1>Discounts!</h1>
</div>
<br/>
   <% @products.each do |product| %>
    <div class="item_wrapper">
      <%= link_to product_path(product) do%>
        <%= image_tag product.image.url(:thumb), class: "thumb"  %>
        <%= content_tag(:span, product.display, class:"display")%>
        <%= content_tag(:span, "#{product.price} ლ", class:"price #{"old_price" if product.discount}")%>
        <%= content_tag(:span, "Discount: #{product.new_price} ლ", class:"new_price") if product.discount%>
      <%= content_tag(:span, safe_join([product.age, "yo"]) , class:"age") if product.age.to_i > 0 %>
      <% end %>
    </div>
  <% end %>
</div> <!-- discount container -->

<script>
  $('#slides').slippry({pager:false});
</script>
