<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- <meta http-equiv="refresh" content="60"> -->

  <title><%= @info['site_title'] %></title>

  <%= javascript_include_tag "under_construction" %>
  <%= stylesheet_link_tag "under_construction", :media => "all" %>

</head>

<body>
  <div class="container">
    <%= view_flash_messages unless view_flash_messages.blank?  %>
    <div id="header">
      <div id="logo">
        <a href="/under_construction">
	    <%= image_tag "logo.png", class: "logo"  %> 
        </a>
      </div><!--end logo-->
    </div><!--end header-->

    <div style="clear:both"></div>

    <div id="main">
      <div id="content">
        <div class="text">
          <h2><%= @info['heading'] %></h2>
        </div><!--end text-->

      </div><!--end content-->

    </div><!--end main-->
  </div><!--end class container-->
</body>
</html>
