<%= search_form_for [:admin, @search] do |f|%>
  
  <p id="notice"><%= notice %></p>

  <h1>Listing Admin Products</h1>
  <table border="1" style="text-align: center;">
    <thead>
      <tr>
        <th><%= sort_link(@search, :sku) %></th>
        <th><%= sort_link(@search, :price) %></th>
        <th><%= sort_link(@search, :display) %></th>
        <th><%= sort_link(@search, :volume) %></th>
        <th><%= sort_link(@search, :brand) %></th>
        <th><%= sort_link(@search, :giftbox) %></th>
        <th><%= sort_link(@search, :subcategory) %></th>
        <th><%= sort_link(@search, :country) %></th>
        <th><%= sort_link(@search, :region) %></th>
        <th><%= sort_link(@search, :category) %></th>
        <th><%= sort_link(@search, :age) %></th>
        <th><%= sort_link(@search, :abv) %></th>
        <th><%= sort_link(@search, :status) %></th>
        <th><%= sort_link(@search, :discount) %></th>
        <th><%= sort_link(@search, :new_price) %></th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_products.each do |admin_product| %>
        <tr>
          <td><%= admin_product.sku %></td>
          <td><%= admin_product.price %></td>
          <td><%= admin_product.display %></td>
          <td><%= admin_product.volume %></td>
          <td><%= admin_product.brand %></td>
          <td><%= admin_product.giftbox %></td>
          <td><%= admin_product.subcategory %></td>
          <td><%= admin_product.country %></td>
          <td><%= admin_product.region %></td>
          <td><%= admin_product.category %></td>
          <td><%= admin_product.age %></td>
          <td><%= admin_product.abv %></td>
          <td><%= admin_product.status %></td>
          <td><%= admin_product.discount %></td>
          <td><%= admin_product.new_price %></td>
          <td><%= image_tag admin_product.image.url(:thumb) %></td>
          <td><%= link_to 'Show', admin_product_path(admin_product) %></td>
          <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
          <td><%= link_to 'Destroy', admin_product_path(admin_product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Product', new_admin_product_path %>

<h2>Import Products</h2>

<%= form_tag import_admin_products_path, multipart:true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<br />
<%= link_to "Log Out", admin_session_path("current"), method: "delete"%>
<br />
<%= link_to "Home", admin_root_path%>


