
<div class="container">

<%= form_tag(products_path, method: "get", class: "bottlefilter") do %>
  <div class="btn-group" data-toggle="buttons">
    <%= label_tag nil, class: "btn btn-primary #{filterActive("giftbox")}" do%>
      <%= check_box_tag "giftbox", "true", giftbox("true")%>Giftbox
    <% end %>
  </div>

  <div class="btn-group">
  <button data-toggle="dropdown" class="btn dropdown-toggle"  data-placeholder="Please select">Checked option <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><input type="checkbox" id="ID"><label for="ID" name="NAME" value="VALUE">Label</label></li>
      <li><input type="checkbox" id="ID"><label for="ID" name="NAME" value="VALUE">Label</label></li>
      <!-- Other items -->
    </ul>
  </div>

  <%= submit_tag "Filter", class: "btn btn-primary"%>
<% end %>

<br />

  <% @products.each do |product| %>
    <div class="item_wrapper">
      <%= link_to product_path(product) do%>
        <%= image_tag product.image.url(:thumb), class: "thumb"  %>
      <%= content_tag(:span, product.display, class:"display")%>
      <% end %>
      <%= content_tag(:span, "#{product.price} ლ", class:"price")%>
    </div>
  <% end %>
  <br/>

</div>

<div>
   <br/>
   <%= paginate @products %>
  <br/>
  <%= link_to 'Home', root_path%>
  </div>
