<nav id="indexNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <%= search_form_for @search, html: {class:"navbar-form navbar-left"} do |f|%>
      
      
      <div class="form-group">
        <%= f.text_field :display_or_subcategory_or_category_cont, class:"form-control", placeholder:"Search" %>
        <%= f.submit "Submit", class:"btn btn-primary", type:"submit"%>
      </div>
          <%= select_tag :category, options_for_select(category, params[:category]), include_blank: "All Categories", class:"form-control select_category"%>  
          <%= label_tag nil, class: "btn btn-default" do%>
            <%= check_box_tag "giftbox", "true", giftbox %>&nbsp;Giftbox
          <% end %>
          <%= sort_link(@search, :price, 'Sort by Price', {}, class: 'sort btn btn-default') %>
          <%= sort_link(@search, :age, 'Sort by Age', {}, class: 'sort btn btn-default') %>
    <% end %>

  </div>
</nav>

<div class="indexContainer">

  <%= render 'shared/product_index' %>
  
</div> <!-- index container -->

<div class="pg">
  <%= paginate @products%>
</div>

