<nav id="indexNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <%= search_form_for @search, html: {class:"navbar-form navbar-left"} do |f|%>
    <div class="form-group">
        <%= f.text_field :display_or_subcategory_or_category_cont, class:"form-control", placeholder:"Search" %>
        <%= f.submit "Submit", class:"btn btn-primary", type:"submit"%>
    </div>

          <%= label_tag nil, class: "btn btn-default" do%>
            <%= check_box_tag "giftbox", "true", giftbox %>&nbsp;Giftbox
          <% end %>
          <%= sort_link(@search, :price, 'Sort by Price', {}, class: 'sort btn btn-default') %>
          <%= sort_link(@search, :age, 'Sort by Age', {}, class: 'sort btn btn-default') %>
    <% end %>

  </div>
</nav>

<div class="indexContainer">

  <% @products.each do |product| %>
    <div class="item_wrapper">
      <%= link_to product_path(product) do%>
        <%= image_tag product.image.url(:thumb), class: "thumb"  %>
        <%= content_tag(:span, product.display, class:"display")%>
        <%= content_tag(:span, "#{product.price} ლ", class:"price")%>
      <%= content_tag(:span, safe_join([product.age, "yo"]) , class:"age") if product.age.to_i > 0 %>
      <% end %>

    </div>
  <% end %>
</div> <!-- index container -->

<div class="pg">
  <%= paginate @products%>
</div>

