<div class="show_image_block">
  <%= content_tag(:span, @product.display, class:"product_title")%>
  <%= image_tag @product.image.url(:medium), alt:@product.display, class:"show_image" %>
</div>
<div class="show_content">

  <p class="attribute_name">
    <span>Price:</span> <%=  %>
    <%= content_tag(:span, safe_join([@product.price, " ლარი"]), class:"#{"old_price" if @product.discount?}")%>
    <%= content_tag(:span, safe_join([" ", @product.new_price, " ლარი"]))  if @product.discount %>    
  </p>  
  <p class="attribute_name">
    <span>Brand:</span> <%= @product.brand %>
  </p>
  <p class="attribute_name">
    <span>Category:</span> <%= @product.category %>
  </p>
  <%= content_tag(:p, safe_join([content_tag(:span,"Subcategory: ") , @product.subcategory]), class:"attribute_name") if @product.subcategory.to_s.length != 0 %>
  <%= content_tag(:p, safe_join([content_tag(:span,"Age: "), @product.age, " years "]), class:"attribute_name") if @product.age.to_i > 0 %>
  <p class="attribute_name">
    <span>Volume</span> <%= safe_join([@product.volume, " L"]) %>
  </p>
  <p class="attribute_name">
    <span>Giftbox:</span> <%= @product.giftbox ? "Yes" : "No" %>
  </p>
  <p class="attribute_name">
    <span>Country:</span> <%= @product.country %>
  </p>

  <%= content_tag(:p, safe_join([content_tag(:span,"Region: "), @product.region]), class:"attribute_name") if @product.region.to_s.length != 0 %>
  <%= content_tag(:p, safe_join([content_tag(:span,"Alcohol by Volume: "), @product.abv, " %"]), class:"attribute_name") if @product.abv.to_i > 0 %>
  <%= content_tag(:p, safe_join([content_tag(:span,"Description: "), @product.description, " years "]), class:"attribute_name description") if @product.description.to_s.length != 0 %>
  <br />
  <%= link_to 'Back', products_path, class:"btn btn-default backBut"%>
  <br />
  <br />
  <br />
  <br />
</div>


