<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Display:</strong>
  <%= @product.display %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.volume %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>
<p>
  <strong>Giftbox:</strong>
  <%= @product.giftbox %>
</p>
<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>

<p>
  <strong>Country:</strong>
  <%= @product.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @product.region %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Age:</strong>
  <%= @product.age %>
</p>

<p>
  <strong>Abv:</strong>
  <%= @product.abv %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image.url(:medium) %>
</p>

<%= link_to 'Back', products_path%>
<br>
<%= link_to 'Home', root_path%>
