<!DOCTYPE html>
<html>
<head>
  <title>Smugglers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render 'shared/top' %>
  <%= yield %>
  <%= render 'shared/bot' %>
  <br />
  <br />
  <br />
</body>
</html>
