<!DOCTYPE html>
<html>
<head>
  <%
  meta title: "Smugglers",
       description: "Smugglers Liquor Store in Tbilisi",
       keywords: %w(Smugglers liquor alcohol store tbilisi batumi imported drunk octopus contact korneli kekelidze ilo mosashvili ilia chavchavadze vaja pshavela street adam mitskevichi airport highway aeroportis gzatkecili სმაგლერსი ალკოჰოლი მაღაზია თბილისი ბათუმი იმპორტირებული კონტაქტი კორნელი კეკელიძე ილია ჭავჭავაძე ილო მოსაშვილი ვაჟა ფშაველა ქუჩა)
  %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= metamagic %>
</head>
<body>
  <%= render 'shared/top' %>
  <%= yield %>
  <%= render 'shared/bot' %>
  <br />
  <br />
  <br />
</body>
</html>
